@font-face { font-family: 'Viga'  ; src: url('/font/viga.ttf'); }

.text{
    -fx-font-family: "Viga";
}

.Text{
    -fx-font-family: "Viga";
}

.HomeText{
   -fx-font: 15pt "Viga";
}

.MainTitle{
    -fx-font: 30pt "Viga";
}

.WindowTitle{
    -fx-font: 30pt "Viga";
}

.DateText{
    -fx-font: 10pt "Viga";
}

.ListViewText{
    -fx-font: 13pt "Viga";
}



.list-cell
{
    -fx-background-color: transparent;
    -fx-font: 15pt "Viga";
    -fx-margin: 10px;
    -fx-padding: 10px;
    -fx-text-fill: white;

}

.list-cell:selected:focused
{
    -fx-background-color: white;
    -fx-background-radius: 30px;
    -fx-text-fill: black;
}

.list-view
{
    -fx-background-color: #61615E;
    -fx-padding: 30px;
}

.NavButton{
    -fx-font: 12pt "Viga";
}